<div class="container">
  <form role="form" ng-submit="cadastrar()">
    <div class="col-sm-6 col-offset-3 form-group">
      <label>Name*</label>
      <input class="form-control" value="" ng-model="cadastrardata.name" placeholder="Name" required>
    </div>

    <div class="col-sm-6 col-offset-3 form-group">
      <label>Description*</label>
      <input class="form-control" value="" ng-model="cadastrardata.description" placeholder="Description" required>
    </div>

    <div class="col-sm-6 col-offset-3 form-group">
      <label>Tip</label>
      <input class="form-control" value="" ng-model="cadastrardata.tip" placeholder="Tip">
    </div>

    <div class="col-sm-6 col-offset-3 form-group">
      <label>Name</label>
      <input class="form-control" value="" ng-model="cadastrardata.name" placeholder="Name">
    </div>
  </form>
</div>
