<div class="container">
  <form role="form" ng-submit="editar()">
    <div class="col-sm-6 col-offset-3 form-group">
      <label>Nome do Cliente</label>
      <input class="form-control" value="" ng-model="cadastrardata.nome_cliente"
             placeholder="Nome do cliente" required>
    </div>
    <div style="text-align: center; margin-top: 8em">
      <button type="submit" class="btn btn-success">Update</button>
      <button type="reset" class="btn btn-default">Limpar</button>
    </div>
  </form>
</div>
