<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Daca Dirlididi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>

  <script src="/scripts/jquery-1.11.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/scripts/angular.min.js"></script>
  <script src="/scripts/angular-route.min.js"></script>
  <script src="/scripts/jquery.dataTables.min.js"></script>
  <script src="/scripts/angular-datatables.min.js"></script>
  <script src="/scripts/config.js"></script>

  <script src="/scripts/controllers/login.controller.js"></script>
  <script src="/scripts/controllers/main.controller.js"></script>
  <script src="/scripts/controllers/problem.controller.js"></script>

  <script src="/scripts/services/account.service.js"></script>
  <script src="/scripts/services/auth.service.js"></script>
  <script src="/scripts/services/problem.service.js"></script>
  <script src="/scripts/services/statistics.service.js"></script>
  <script src="/scripts/services/authInterceptor.service.js"></script>
</head>
<body ng-app="MyApp">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Welcome <span class="sr-only">(current)</span></a></li>
          <li><a href="/problems">Problems</a></li>
          <li><a href="/problem/create">Create Problem</a></li>
          <li><a href="/ide">Ide</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="!bc.isAuth()"><a href="/login">Login</a></li>
          <li ng-if="bc.isAuth()"><a href="">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin-top: 60px;">
    <ng-view></ng-view>
  </div>
</body>
</html>
